
{%- assign product = all_products[section.settings.featured_product] -%}
{% if product != empty %}
<div class="page-width" data-section-id="{{ section.id }}" data-section-type="day_7" data-ajax-enabled="true">
  
    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign product_image_zoom_size = '1024x1024' -%}
    {%- assign product_image_scale = '1' -%}
    {%- assign enable_image_zoom = true -%}

    <div class="grid">
        <div class="grid__item medium-up--one-half" data-product-single-media-group>
            {%- assign featured_media = featured_product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

            {%- for media in product.media -%}
            {% include 'media', media: media, featured_media: featured_media, height: 530, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
            {%- endfor -%}
        </div>

        <div class="grid__item medium-up--one-half">
            <div>
                {%- assign price = current_variant.price -%}
                {%- assign available = current_variant.available -%}
                <h1> 
                    {{ product.title }}
                </h1>

                <div>
                    <div style="font-size: 1.5em;">
                        {% include 'product-price', variant: current_variant, product: product, show_vendor: false %}
                    </div>
                    {% capture "form_classes" -%} 
                        product-form {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
                    {%- endcapture %}

                    {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
                        {% unless product.has_only_default_variant %}
                        <div class="product-form__controls-group">
                            {% for option in product.options_with_values %}
                                <div class="js product-form__item">
                                    <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">
                                        {{ option.name }}
                                    </label>
                                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                                        {% for value in option.values %}
                                            <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endfor %}
                        </div>
                        {% endunless %}

                        <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                        {% for variant in product.variants %}
                            <option value="{{ variant.id }}" {%- if variant == current_variant %} selected="selected" {%- endif -%}>
                            {{ variant.title }} {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                            </option>
                        {% endfor %}
                        </select>
                    
                        <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden" data-error-message-wrapper role="alert">
                            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                            {% include 'icon-error' %}
                            <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
                        </div>

                        <div class="product-form__controls-group product-form__controls-group--submit">
                            <div class="product-form__item product-form__item--submit {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}">
                                <button type="submit" name="add"
                                    {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                                    aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                                    class="btn product-form__cart-submit"
                                    aria-haspopup="dialog"
                                    data-add-to-cart>
                                    <span data-add-to-cart-text>
                                        {% unless current_variant.available %}
                                            {{ 'products.product.sold_out' | t }}
                                        {% else %}
                                            {{ 'products.product.add_to_cart' | t }}
                                        {% endunless %}
                                    </span>
                                    <span class="hide" data-loader>
                                        {% include 'icon-spinner' %}
                                    </span>
                                </button>
                            </div>
                        </div>
                    {% endform %}
                </div>

                {%- comment -%}
                Live region for announcing updated price and availability to screen readers
                {%- endcomment -%}
                <p class="visually-hidden" data-product-status aria-live="polite" role="status">
            
                </p>

                {%- comment -%}
                Live region for announcing that the product form has been submitted and the
                product is in the process being added to the cart
                {%- endcomment -%}
                <p class="visually-hidden" data-loader-status aria-live="assertive" role="alert" aria-hidden="true">
                    {{ 'products.product.loader_label' | t }}
                </p>

                <a class="product-single__detail hover-underline-animation" href="{{ product.url }}">
                    View product details
                </a>
            </div>
        </div>
    </div>
</div>

<script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
{% endif %}
{% schema %}
{
  "name": "HS featured product",
  "class": "index-section index-section--featured-product",
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "HS featured product",
      "category": "Product"
    }
  ]
}
{% endschema %}