<div class="img-text-wrapper">
    <div class="text-container {% if section.settings.order-image == "left" %} right-container {% endif %}">
        <div class="text-wrapper">
            <div>
                <h4>{{ section.settings.subtitle}}</h4>
            </div>
            <div>
                <h3>{{ section.settings.title }}</h3>
            </div>
            <div>
                {{ section.settings.content}}
            </div>
        </div>
    </div> 
    <div class="image-container">
        <img src="{{ section.settings.image | img_url: '600x'}}">
    </div>   
</div>
  
  {% schema %}
    {
      "name": "Image with text",
      "settings": [
        {
            "type": "select",
            "id": "order-image",
            "label": "Position of Image",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "right"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Sub-heading"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Description"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
      ],
      "presets": [
      {
        "name": "HS image with text",
        "category": "Image"
      }
    ]
    }
  {% endschema %}